body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #333; /* Dark background for contrast */
  color: #eee; /* Light text color */
  display: flex;
  flex-direction: column; /* Ensure content flows vertically */
  min-height: 100vh; /* Make sure body takes up full viewport height */
  margin: 0; /* Remove default margins */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  background-color: rgb(47, 56, 56);
}

.recipe-content {
  flex: 1; /* Recipe content takes up available space */
  margin-right: 20px; /* Add some space between text and image */
  color: #092c0a;
}


h1 {
  color: azure;
  text-align: center;
}


.port {
  width: 60px;
  height: 60px;
  background-image: url(/SimpleBlog/picture/pic2.jpg);
  background-size: cover;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.3s ease;
  position: fixed;
  left: 20px;
  top: 40px;
  transform: translateY(-50%);
  z-index: 1001; /* Ensure it stays above everything else */
}

.port:hover {
  transform: translateY(-50%) scale(1.1);
}

/* Header */
header {
  background-color: rgb(27, 33, 33);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Navigation */
nav {
  display: flex;
  justify-content: right;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}


nav li a:hover {
  color: #f39c12;
  transform: scale(1.1);
}

/* Heart Icon */
.heart {
  height: 40px;
  width: 40px;
  padding-right: 20px;
  transition: transform 0.3s ease;
}

.heart:hover {
  transform: scale(1.2);
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  display: flex;
  flex-grow: 1; /* Allow the container to expand to fill available space */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Recipe Image */
img {
  max-width: 80%;
  margin-left: 10%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Recipe Content */
h1 {
  color: #ffffff;
}

h2 {
  color: #092c0a;
  border-bottom: 2px solid #4CAF50;
  display: inline-block;
  padding-bottom: 5px;
}

ul, ol {
  text-align: left;
  margin: 20px;
  padding-left: 20px;
}

li {
  margin: 10px 0;
  font-size: 16px;
  color: #000;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
      width: 90%;
      padding: 15px;
  }

  h2 {
      font-size: 20px;
  }
}